.cerrar{
    -fx-background-color: transparent;
    
    
}

.anchor{
    -fx-border-radius: 15px;
    
}

.boton {
    -fx-background-color: #401474;
}

.imagenLogin{
    -fx-background-image: url(../img/store-4156934_1280.png);
    -fx-background-size: stretch;
     
}