.tab-pane:left .tab-header-area .headers-region .tab:left{
    -fx-background-image: url("../img/usuario.png");
    
}

.cerrar:hover{
    -fx-background-color: #CC0000;
}
.menu{
    -fx-background-color: #0099CC;
    
}
.menu, .menu-item, .context-menu {
    -fx-background-color: black;
    -fx-cursor: hand;
}
.combo .text-input{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}


.textField {
    -fx-text-fill: white
}
.menubar {
    -fx-background-color: black;
}
.menu-item:hover {
    -fx-font-size: 16px;
    -fx-background-color: #401474;
}

.menubar .container .label .text{
    -fx-fill: white;
    -fx-font-family: Arial;
}

.tabItem{
    -fx-padding: 15px;
    -fx-end-margin: 5;
    -fx-background-color: #2E2E2E;  
}

.tab-pane:left .tab-header-area .tab-header-background{
    -fx-background-color: #212121;
    
}




.paneCliente{
    -fx-background-image: url(../img/cliente.png);
    -fx-background-size: stretch;
    
}


.tab:hover {
 -fx-padding: 20px;
 -fx-cursor: hand;
}



.tab-pane:left *.tab-header-area {
 
 -fx-padding: 0;
}

.opciones:hover{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 7, 7); 
    -fx-cursor: hand;
}

.opciones:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}

.paneBienvenida{
    -fx-background-color: whitesmoke;
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2); 
}

.panelBienvenida1{
    -fx-background-image: url(../img/cesped.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 1500 100;
}

.boton {
    -fx-background-color: #401474;
    -fx-cursor: hand;
}

.table-view .column-header{
    -fx-background-color: #212121;
}

.table-view .column-header  .text{
    -fx-fill: white;
}

.boton:hover{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 2, 2);
}

.boton:pressed{
    -fx-effect: dropshadow(three-pass-box, derive(black, -10%), 10, 0, 0, 0);
}

.off{    
    -fx-cursor: hand;
}

.on{
    visibility: false;
}
.paneMode{
    -fx-background-color: #eee;
    
}

.paneFondoImagen {
    -fx-Background-image: url(../img/imagenNubes.png);
    -fx-background-size: 100% ;
}

.paneFondoImagenSplit1 {
    -fx-Background-image: url(../img/imagenNubes.png);
    -fx-background-size: 210%;
}

.paneFondoImagenSplit2 {
    -fx-Background-image: url(../img/imagenNubes.png);
    -fx-background-size: 150%;
}

comboOscuro:editable .list-view {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
}

.comboOscuro:editable .list-view .list-cell {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
}

    .comboOscuro:editable .list-view .list-cell:hover {
        -fx-background-color: #212121;
        -fx-text-fill: white;
    }

    .comboOscuro:editable .list-view .list-cell:selected {
        -fx-background-color: #212121;
        -fx-text-fill: white;
    }

.comboOscuro:editable .arrow-button {
    -fx-background-color: #2E2E2E;
}

    .comboOscuro:editable .arrow-button .arrow {
        -fx-background-color: white;
    }

.comboOscuro:editable .text-field {
    -fx-background-color: #2E2E2E;
}

.comboOscuro .text-input {
    -fx-text-fill: white;
}